## Fichiers ignorés
/Import_Taxo_Termes.csv
**.scssc
**.sassc
**.sass-cache
**.db
**.ftp*
**Thumbs.db
**.json
package.json
package-lock.json
**.sqlite
**.suo
**/Thumbs.db
**.cson
## Dossiers ignorés - évite conflits
symfony-2.8
private
node_modules
config
## Exclusion des css compilées pour éviter conflits - inutile si compilation sur LAMP
css/*
**css/*
